/********************************************************************************/
/***************************** GENERAL ******************************************/
/********************************************************************************/
h1{
	font-family: 'Lora', serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
	color: #355515;

}

p, li{
	font-family: 'Open Sans', sans-serif;
}

.clearfix {
	clear: both;
}

/********************************************************************************/
/***************************** STARTPAGE ****************************************/
/********************************************************************************/
.start-left {
	float: left;
	height: 50vh;
	width: 50%;
}

.start-right {
	float: right;
	height: 50vh;
	width: 50%;
}

#up-left {
	background-color: #04CDAE;
}

#up-right {
	background: url('../img/cotton.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
}

#down-left {
	background: url('../img/clothes.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
}

#down-right {
	background-color: #562894;
}

.textarea {
	color: white;
	height: 60%;
	margin: 0 auto;
	width: 360px;
	text-align: center;
	transform:translateY(30%);
	.logo-title {
		font-family: 'Lora', serif;
		font-weight: 400; 
		font-size: 2em;
	}
	.info-text {
		margin-bottom: 40px;
		padding: 10px;
	}
	a {
		color: white;
		text-decoration: none;
		span {
			font-family: 'Lora', serif;
			font-weight: 400; 
			font-size: 2em;
			outline: 3px solid white;
			padding: 10px 30px;
		}
	}
	
}


/********************************************************************************/
/********************************* SHOP *****************************************/
/********************************************************************************/


/********************************* MENU *****************************************/
#menu-top{
	background-color: #355515;
	color: white;
	height: 50px;
	margin-top: -18px;
	width: 100%;
	position: relative;
	text-align: right;
	.logo {
		height: 30px;
		left: 10px;
		position: absolute;
		top: 10px;
	}

	ul{
		list-style-type: none;
		margin-right: 40px;
		padding-top: 15px; 
		li{
			img {
				height: 30px;
			}
			display: inline-block;
			margin-right: 20px;
			margin-top: -10px;
			text-transform: uppercase;
			font-size: .8em;
		}
	}
}

/********************************* CATEGORY *****************************************/

#category-top{
	margin-top: 50px;
	text-align: center;
	ul{
		list-style-type: none;

		li{
			display: inline-block;
			text-transform: uppercase;
			padding: 0 40px;
			font-weight: bold;
		}
	}

	hr{

		margin: 0 auto;
		width: 60%;
	}

}

/********************************* LANDING PAGE ***************************************/

/********************************************************************************/
/***************************** INFO PAGE ****************************************/
/********************************************************************************/

#info-wrapper{
	margin: 0 auto;
	padding-top: 100px;
	width: 80%;

	.block1{
		height: 400px;
		float: left;
		//outline: solid 1px black;
		width: 33%;
	}

	.block2{
		height: 200px;
		width: 100%;
	}

	.block3{
		height: 400px;
		float: left;
		//outline: solid 1px black;
		width: 66%;
	}
}

#info-wrapper:after {
  display: block;
  clear: both;
}

.box1, .box2, .box3, .box4, .box5, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12 {
		-webkit-background-size: cover;
		-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
}



.box3{
	background: url('../img/water.png') no-repeat center center;
}

.box4{
	background: url('../img/bomull.png') no-repeat center center;
}

.box5{
	background: url('../img/salary.png') no-repeat center center;
}

.box6{
	background: url('../img/work.png') no-repeat center center;
}

.box10{
	background: url('../img/animals.png') no-repeat center center;
}

.box11{
	background: url('../img/sustainable.png') no-repeat center center;
}




